# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
lightgbm=4.0.0=pypi_0
matplotlib=3.8.4=py311h38be061_2
numpy=1.26.4=py311h64a7726_0
pandas=1.4.1=pypi_0
scikit-learn=1.2.2=pypi_0
verstack=3.9.8=pypi_0
